/* https://cssgradient.io/gradient-backgrounds/*/
/*https://graphiste.com/blog/animations-css-bordures/*/
main{
    display: flex;
    flex-direction: column;
    /*align-items:center; -- réduit la taille du titre et de la boite*/
}

.ghost{
    display: none;
}


/*-------------------------------------------------------*/
/*---------------------Fond d'écran----------------------*/
/*-------------------------------------------------------*/
body{
    background: linear-gradient(13deg, #f0d385 5%,#62b6b2 20%, #72b5e2 50%, #323794 100%) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    background-size: 100% 100%;
}

html,body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.together{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


/*-------------------------------------------------------*/
/*--------------Boite Infos Principales------------------*/
/*-------------------------------------------------------*/

.BoxTransition{
    /* from https://polypane.app/css-3d-transform-examples/ */
    transform:
        perspective(350vw)
        translate3d(0px, 0px, -250px)
        scale(1, 1);
    transition: 2s ease-in-out transform;
}

.BoxTransition:hover {
    transform: translate3d(0px, 0px, -250px);
}

.weather{
    background-color: rgb(220, 223, 220);
    color: rgb(38, 119, 190);
    padding : 4vw;
    border-radius: 1.5vw;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    margin-top:5%;
    margin-right:8%;
}

.weather h2{
    font-size: 1.5vw;;
}

.codeResearch label{
    font-size:1.5vw;
}

/*-------------------Elements dans la boite d'infos-------------------------*/
.customWeatherIcon{
    width:100px;
    height:100px;
}

.formElement{
    margin : 0.2em;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 1.3vw;
}

form ul li{
    padding-top:0.8vw;
}

.selectCommune{
    font-size: 1vw;
    height: 2em;
    width: 20em;
    border:none;
    border-radius:7px;
}

input{
    font-size: 1.5vw;
    border:none;
    border-radius: 7px;
}



/*-------------- Informations Principales dans la boite ---------------*/
/*-----------------Après la recherche---------------------------------*/
.weatherInfos{
    display:flex;
    flex-direction: row;
    margin:2%;
    padding-left:2vw;
    padding-right:2vw;
    font-size: 1vw;
}

.minimTemp, .maxiTemp{
    display:flex;
    flex-direction: column;
    text-align: center;
}

.weather img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.minimTempDisplay{
    font-size:2vw;
}
.maxiTempDisplay{
    font-size:3vw;
}
.dailySunshine{
    font-size:1vw;
}

/* -------------Cartes ------------*/
.forecast{
    display:flex;
    flex-direction: column;
    text-align: center;
    padding : 4vw;
    margin:2%;
}

.viewInfos{
    display:flex;
    flex-direction: row-reverse;
    background-color: rgb(220, 223, 220);
    margin:1vw;
    padding:2vw;
    padding-bottom:3vw;
    border-radius: 1vw;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    justify-content: space-around;
}

.viewInfos .weatherInfos{
    margin:1%;
}

.weatherInfosAll{
    flex:3;
    color: rgb(38, 119, 190);
    display: flex;
    flex-flow: row wrap;
}

.weatherInfosAll .minimTemp, 
.weatherInfosAll .maxiTemp,
.weatherInfosAll .dailySunshine,
.weatherInfosAll .rainProba,
.right{
    display:flex;
    flex-direction: column;
    padding:1%;
    flex: 1;
}

.weatherInfosAll .minimTemp, 
.weatherInfosAll .maxiTemp,
.weatherInfosAll .dailySunshine,
.weatherInfosAll .rainProba{
    font-size:1.2vw;
    border-radius: 10px;
    flex-basis: 20%;
    background-color:rgba(231, 231, 231, 0.836) ;
}

#imgWeather1, #imgWeather2, #imgWeather3, #imgWeather4, #imgWeather5, #imgWeather6{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around; /* Espace entre les éléments */
}

#minimTempDisplay1,#minimTempDisplay2,#minimTempDisplay3,#minimTempDisplay4,#minimTempDisplay5,#minimTempDisplay6{
    font-size:2vw;
}

#maxiTempDisplay1,#maxiTempDisplay2,#maxiTempDisplay3,#maxiTempDisplay4,#maxiTempDisplay5,#maxiTempDisplay6{
    font-size:2.7vw;
}

/*-------------------Button-----------------*/
button{
    width : 50%;
    padding:0.3vw;
    background-color:rgb(91, 167, 211);
    color : white;
    border-radius: 0.5em;
    box-shadow: 2px 2px 2px rgb(13, 93, 117);
    margin-left:25%;
    border: none;
}
button:hover{
    background-color: rgb(44, 135, 172);
    color : rgb(255, 255, 255);
    box-shadow: none;
}
/*------------------------------------------*/


/*-------------------------------------------------------*/
/*-------------------------Titre-------------------------*/
/*-------------------------------------------------------*/
.Title{
    margin: 13% 10% 0 10%;
    color:white;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.Title h1{
    margin-bottom:0;
    font-size: 3.5vw;
}


.Title p{
    font-size: 1.3vw;
}

/* ----------- RESPONSIVE PARAMETERS ----------- */
@media only screen and (max-width: 1100px) {
    body {
        background: linear-gradient(13deg,#62b6b2 20%, #72b5e2 50%) no-repeat center center fixed;
    }

    .together{
        flex-direction: column;
    }

    .Title h1{
        font-size: 4vw;
    }
    
    .Title p{
        font-size: 2.5vw;
    }
    
    .weather{
        padding : 5%;
        margin-right:0;
    }
    .weather h2{
        font-size: 3vw;;
    }

    .codeResearch label{
        font-size: 3vw;
        
    }

    form ul li{
        padding-top:1vw;
    }

    form{
        font-size: 3vw; 
    }

    .BoxTransition{
        transform:
        perspective(350vw)
        translate3d(0px, 0px, -50px)
        scale(1, 1);
        transition: 1.5s ease-in-out transform;
    }
    .BoxTransition:hover {
        transform: translate3d(0px, 0px, -50px);
    }

    .weatherInfos{
        font-size: 1.7vw;
    }

    .selectCommune{
        font-size: 1.5vw;
    }
    
    input{
        font-size: 2vw;
    }

    .weatherInfos{
        font-size: 2vw;
    }
    
    .viewInfos .weatherInfos{
        font-size:2vw;
    }

    .minimTempDisplay{
        font-size:4vw;
    }
    
    .maxiTempDisplay{
        font-size:5.5vw;
    }

    .rainProba{
        font-size:1.9vw;
    }
    
    .dailySunshine{
        display: flex;
        flex-direction: column;
        font-size: 1.9vw;
    }
    
    .weatherInfosAll .minimTemp, 
    .weatherInfosAll .maxiTemp,
    .weatherInfosAll .dailySunshine,
    .weatherInfosAll .rainProba, .right{
        flex-basis: 45%;
    }
    
    #minimTempDisplay1,#minimTempDisplay2,#minimTempDisplay3,#minimTempDisplay4,#minimTempDisplay5,#minimTempDisplay6{
        font-size:3vw;
    }
    #maxiTempDisplay1,#maxiTempDisplay2,#maxiTempDisplay3,#maxiTempDisplay4,#maxiTempDisplay5,#maxiTempDisplay6{
        font-size:3.5vw;
    }
}

@media only screen and (max-width: 600px) {
    body {
        background: linear-gradient(13deg,#d18033 10%,#d4be9d 20%, #528dcf 50%) no-repeat center center fixed;
    }

    .Title{
        margin: 13% 10% 15% 10%;
    }

    .Title h1{
        font-size: 8vw;
    }

    .Title p{
        font-size: 4vw;
    }

    .weather{
        padding : 5%;
    }

    .weather h2{
        font-size: 5vw;;
    }

    .codeResearch label{
        font-size:5vw;
    }

    .weatherInfos{
        font-size: 4vw;
    }

    form ul li{
        padding-top:1.5vw;
    }

    form{
        font-size: 4vw; 
    }

    .viewInfos .weatherInfos{
        font-size:3vw;
    }

    .minimTempDisplay{
        font-size:6vw;
    }
    
    .maxiTempDisplay{
        font-size:8.5vw;
    }

    #minimTempDisplay1, #minimTempDisplay2, #minimTempDisplay3, #minimTempDisplay4, #minimTempDisplay5, #minimTempDisplay6{
        font-size:6vw;
    }
    #maxiTempDisplay1, #maxiTempDisplay2, #maxiTempDisplay3, #maxiTempDisplay4, #maxiTempDisplay5, #maxiTempDisplay6{
        font-size:8vw;
    }


    .forecast{
        margin-top:18%;
    }
    .viewInfos{
        flex-direction: column-reverse;
    }

    .weatherInfosAll{
        display: flex;
        flex-flow: column wrap;

    }

    .right{
        flex-direction: row;
    }
    
    .weatherInfosAll .minimTemp, 
    .weatherInfosAll .maxiTemp,
    .weatherInfosAll .dailySunshine,
    .weatherInfosAll .rainProba{
        font-size:3.5vw;
        background-color:rgba(231, 231, 231, 0) ;
    }
}
